@import url('https://fonts.googleapis.com/css?family=El+Messiri');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }
    

html {
    background-color: #FFEDDF;
}

.logo {
    margin: 0px;
    width:150px;
    height: auto;
    padding: 10px;
}

nav {
    display: flex;
    background: #EB9486;
    padding-top: 10px;
    font-family: inherit;
    font-size: 20px;
    align-items:flex;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 70px;
    justify-content: right;
    
}

nav li {
    margin-left: 50px;
    float: right;
    padding-top:30px;
    color: #91818A;
    text-decoration: none;
    }

.banner {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url("../images/banner.jpeg");
    background-position: bottom;
    filter: sepia(100%);
}

.banner h1 {
    color: #B5C9C3;
    font-size: 30px;
    text-align: center;
}

.div h1 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: left;
}

.col {
    padding: 16px;
    width: 50%;
}

.columnimage {
    display: block;
    margin: auto;
}
